body{
    background-color: #005FFF;
}

.App {

    text-align: center;
    font-size: 35px;
    margin-top: 10%;
}

.App-title {
    font-size: 50px;
}

.days, .hours, .minutes, .seconds {
    display: inline;
    margin: 10px;
}

.Deadline-input {
    font-size: 25px;
    margin: 5px;
}